@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    margin: 0;
    position: relative;
    overflow: hidden;
}

/* Partie video */
#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Partie titre */
.title {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    font-family: "Luckiest Guy";
    font-size: 58px; 
    color: white; 
    z-index: 10; 
    font-weight: bold;
}
/* Partie bouton */
.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 45px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(32, 32, 32, 0.9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.5s, filter 0.5s;
    filter: blur(80);
}
.start-button:hover {
    background-color: rgba(50, 50, 50, 0.7);
    transform: translate(-50%, -50%) scale(1.1);
}